.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .progress-ring {
    transition: stroke-dashoffset 1s ease;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  